<?xml version="1.0" encoding="UTF-8"?>
<config version="1.0">
	<propertyGroup name="global">
		<property name="serverAddress">localhost</property>
		<property name="serverPort">13000</property>
		<property name="clientPort">13001</property>
		<property name="volume">100</property>
		<property name="fancyGraphics">true</property>
		<property name="windowWidth">960</property>
		<property name="windowHeight">500</property>
	</propertyGroup>
	<propertyGroup name="game">
		<property name="boardWidth">32</property>
		<property name="boardHeight">32</property>
		<property name="aiControlled">false</property>
	</propertyGroup>
</config>