<?xml version="1.0" encoding="UTF-8"?>
<config version="1.0">
	<propertyGroup name="global">
		<property name="serverAddress">localhost</property>
		<property name="serverPort">13000</property>
		<property name="clientPort">13001</property>
		<property name="useLocationBroker">false</property>
		<property name="defaultToClient">true</property>
		<property name="useNetworkXML">false</property>
		<property name="fancyGraphics">true</property>
		<property name="windowWidth">500</property>
		<property name="windowHeight">500</property>
	</propertyGroup>
	<propertyGroup name="game">
		<property name="boardWidth">100</property>
		<property name="boardHeight">100</property>
		<property name="aiControlled">true</property>
		<property name="numberOfShips">4</property>
		<property name="lengthOfShips">6</property>
	</propertyGroup>
</config>